server:
  port: 8080
  address: localhost
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  error:
    include-message: always
    include-binding-errors: always
  shutdown: graceful
  connection-timeout: 20000
  tomcat:
    connection-timeout: 20000

spring:
  application:
    name: sistema-monitoramento-pacientes
  
  # Configuração do banco H2 com persistência
  datasource:
    url: jdbc:h2:file:./data/dsimdb;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driverClassName: org.h2.Driver
    username: dsim
    password: dsim123
    
  # Console H2 (para desenvolvimento)
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
      
  # JPA/Hibernate
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
    defer-datasource-initialization: true
  
  # SQL Initialization
  sql:
    init:
      mode: always
        

    
# Logging
logging:
  level:
    org.springframework.web: INFO
    org.hibernate.SQL: INFO
    teste: INFO
    root: INFO